@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Fira+Sans&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@1,500&family=Preahvihear&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: "Fira Sans", sans-serif;
}